$width: 600px;
$tr-time: .1s;
$bg-color: #111111;

@mixin button {
	transition: background-color $tr-time linear;
	background-color: $bg-color;

	border-color: #ffffff;
	border-style: solid;
	border-radius: 0;

	color: #ffffff;
	padding: 5px 10px;

	&:hover {
		cursor: pointer;
	}
}

* {
	box-sizing: border-box;
}

html, body {
	font-family: -apple-system, sans-serif;
	color: #ffffff;

	height: 100%;
	width: 100%;
}

body {
	background-color: $bg-color;

	display: flex;
	flex-direction: column;

	margin: 0;

	h1 {
		margin: 100px auto 0 auto;
		user-select: none;
		font-size: 36pt;
	}

	h2 {
		margin: auto;
	}
}

.container {
	margin: 100px auto auto auto;

	width: $width;
	height: 500px;

	border: 2px solid #fff;
	border-radius: 5px;

	display: flex;
	flex-direction: column;
}

#todos-container {
	flex-grow: 1;

	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: auto;
}

.input-ctr {
	border-bottom: 2px solid #ffffff;

	width: 100%;
	padding: 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	input {
		max-width: $width * .75;
		padding: 5px 0 5px 5px;
		width: 100%;

		background-color: $bg-color;

		border-color: #ffffff;
		border-style: solid;

		font-size: 16pt;
		color: #ffffff;

		&::placeholder {
			transition: color $tr-time linear;
		}

		&:focus {
			outline: none;

			&::placeholder {
				color: transparent;
			}
		}
	}

	button {
		@include button;

		font-size: 16pt;

		&:hover {
			background-color: #195e16;
		}
	}
}

.todo {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid #4f4f4f;
	padding: 20px 30px;

	h3 {
		padding-right: 40px;
		font-size: 16pt;
	}

	&:last-of-type {
		border-bottom: none;
	}

	button {
		@include button;

		font-size: 14pt;

		&:hover {
			background-color: #9f1b04;
		}
	}
}
