$width: 600px;
$tr-time: .1s;
$input-height: 75px;
$todo-height: 100px;
$bg-color: #111111;

@mixin button {
	transition: background-color $tr-time linear;
	border-radius: 0;
	background-color: $bg-color;
	border-color: #ffffff;
	border-style: solid;
	color: #ffffff;
}

html, body {
	width: 100%;
	height: 100%;
	color: #ffffff;
	font-family: -apple-system, sans-serif;
}

body {
	margin: 0;
	background-color: $bg-color;
	display: flex;
	flex-direction: column;

	h1 {
		font-size: 36pt;
		user-select: none;
		margin: 100px auto 0 auto;
	}
}

.container {
	margin: auto;
	width: $width;
	height: 3*$todo-height + $input-height + 4px;

	border: 2px solid #fff;

	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.input-ctr {
	border-bottom: 2px solid #ffffff;
	width: $width;
	height: $input-height;
	display: flex;
	justify-content: space-around;
	align-items: center;

	input {
		width: $width * .75;
		background-color: $bg-color;
		border-color: #ffffff;
		border-style: solid;
		color: #ffffff;
		font-size: 16pt;
		padding: 5px 0 5px 5px;

		&::placeholder {
			transition: color $tr-time linear;
		}

		&:focus {
			outline: none;

			&::placeholder {
				color: transparent;
			}
		}
	}

	button {
		@include button;
		font-size: 16pt;
		margin-right: 15px;

		&:hover {
			cursor: pointer;
			background-color: #195e16;
		}
	}
}

.todo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	border-bottom: 1px solid #4f4f4f;

	h3 {
		font-size: 16pt;
		width: $width * .75;
	}

	&:last-of-type {
		border-bottom: none;
	}

	button {
		@include button;

		&:hover {
			background-color: #9f1b04;
			cursor: pointer;
		}
	}
}
